.card {
  &Item {
    display: flex;
    align-items: center;

    height: 150px;
    margin-bottom: 15px;

    overflow: hidden;

    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &Date {
    margin-right: 50px;
  }

  &Day {
    font-size: 55px;
    color: #abb0ba;
  }

  &Month {
    font-size: 25px;
    color: #2a2a30;
  }

  &Day,
  &Month {
    text-align: center;
  }

  &Info {
    width: 100%;
  }

  &Content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    border: 2px solid #6876a4;
    border-radius: 5px;
  }

  &Title {
    border-bottom: 1px solid #686a80;
  }
  &Title,
  &Agenda {
    padding-left: 20px;
    resize: none;
    background: white;
    border: none;
  }

  &Control {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    background-color: #6876a4;

    width: 30%;
    border-left: 1px solid #6876a4;
  }

  &Edit,
  &Delete,
  &Cancel,
  &View {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
